main {
	section {
		//padding-top    : 100px;
		//padding-bottom : 100px;
		@include media-mobile {
			padding-top    : 60px;
			padding-bottom : 60px;
		}
		display        : flex;
		flex-direction : column;
		gap            : 30px;
		align-items    : start;
		//
		margin-bottom  : 50px;
	}
}

h2 {
	margin-bottom : 50px;
}

.tittle {
	margin-top : 100px;
}

h3 {
	margin-top    : 25px;
	margin-bottom : 15px;
}

ol, ul {
	display        : flex;
	flex-direction : column;
	gap            : 20px;
	//
	user-select    : none;
}

.test__item--label {
	background : rgb(90, 211, 229); //
}

input[type=checkbox] {
	display    : none;
	position   : relative;
	cursor     : pointer;
	box-shadow : 9px 11px 8px 0px rgba(34, 60, 80, 0.2);
}

input[type=checkbox]:before {
	content          : "";
	display          : block;
	position         : absolute;
	width            : 16px;
	height           : 16px;
	top              : 0;
	left             : 0;
	border           : 2px solid #555555;
	border-radius    : 3px;
	background-color : white;
}

input[type=checkbox]:checked:after {
	content           : "";
	display           : block;
	width             : 5px;
	height            : 10px;
	border            : solid black;
	border-width      : 0 2px 2px 0;
	-webkit-transform : rotate(45deg);
	-ms-transform     : rotate(45deg);
	transform         : rotate(45deg);
	position          : absolute;
	top               : 2px;
	left              : 6px;
}

form {
	//width           : 320px;
	display         : flex;
	align-items     : center;
	justify-content : space-between;
	position        : relative;
}


label {
	@include adaptive-font(16, 12);
	width : 250px;
}

ol {
	li {
		//
		form {
			label {
				box-shadow    : 9px 11px 8px 0px rgba(34, 60, 80, 0.2);
				background    : cornsilk;
				padding       : 10px;
				border-radius : 10px;
				//
				width         : 260px;
			}
		}
	}
}

ul {
	margin-bottom : 10px;
	border-left   : solid;
	border-width  : 1px;
	
	li {
		//
		form {
			margin : 8px;
			
			label {
				//margin-left   : 10px;
				background    : cornsilk;
				padding       : 10px;
				border-radius : 10px;
			}
		}
	}
}

.description {
	@include media-laptop {
		position  : relative;
		top       : unset;
		right     : unset;
		max-width : 320px;
	}
	transition     : 1s;
	position       : fixed;
	top            : 10%;
	right          : 5%;
	display        : flex;
	flex-direction : column;
	align-items    : start;
	gap            : 6px;
	padding        : 10px;
	border         : solid;
	max-width      : 600px;
	margin-bottom  : 150px;
	border-radius  : 10px;
	//
	box-shadow     : 8px 6px 3px #3c354a;
}

.paragraph {
	padding   : 0;
	margin    : 0;
	font-size : 0.9rem;
}

.selector__inner {
	display         : flex;
	gap             : 20px;
	align-items     : start;
	flex-direction  : column;
	justify-content : center;
	//
	.img__arrow {
		position  : absolute;
		right     : 0;
		top       : 10px;
		width     : 30px;
		//
		animation : img__arrow 1s ease-in-out infinite;
		@keyframes img__arrow {
			0% {
				right     : 0;
			}
			50% {
				right     : 2%;
			}
			100% {
				right     : 0;
			}
		}
	}
	
	.selector__label {
		position : relative;
	}
	
	.selector {
		padding            : 10px 20px;
		border-radius      : 10px;
		font-size          : 1.2rem;
		display            : block;
		border             : slateblue solid 3px;
		//background         : rgb(90, 211, 229);
		-moz-appearance    : none;
		-webkit-appearance : none;
		appearance         : none;
		//background         : none;
	}
}

.checked {
	border      : slateblue solid 3px;
	padding-top : 25px;
	//
	transition  : .7s;
	animation   : popup__description .8s ease-in-out;
	@keyframes popup__description {
		0% {
			padding-top : 0;
		}
		35% {
			padding-top : 30px;
		}
		100% {
			padding-top : 25px;
		}
	}
}

.red {
	color : red;
}

.us-none {
	user-select : none;
}

li {
	position : relative;
}

.done {
	display       : none;
	position      : absolute;
	top           : -15px;
	left          : -20px;
	width         : 20px;
	padding       : 10px;
	background    : slateblue;
	border-radius : 100%;
}

.done.active {
	display   : block;
	animation : done .4s ease-in-out;
	@keyframes done {
		0% {
			transform : scale(0);
		}
		100% {
			transform : scale(1);
		}
	}
}
