button.submit__button {
	@media (max-width : 620px) {
		&:hover {
			transform : scale(1.05);
		}
		//
		bottom    : 10%;
		left      : 5%;
		//
		animation : submit__button--adapt 1s ease-in-out infinite;
	}
	//
	box-shadow    : 12px 8px 10px 2px rgba(34, 60, 80, 0.37);
	//
	display       : none;
	z-index       : 1000;
	background    : #FFD073;
	border        : none;
	font-size     : 1.1rem;
	border-radius : 10px;
	padding       : 15px 10px;
	//
	position      : fixed;
	bottom        : 50%;
	left          : 5%;
	//
	animation     : submit__button 1s ease-in-out infinite;
	//
	transition    : .4s;
}

.submit__button.active {
	display : block;
}

@keyframes submit__button {
	0% {
		bottom     : 50%;
		box-shadow : 4px 2px 4px 2px rgba(34, 60, 80, 0.37);
	}
	50% {
		bottom     : 51%;
		box-shadow : 12px 8px 9px 2px rgba(34, 60, 80, 0.37);
	}
	100% {
		bottom     : 50%;
		box-shadow : 4px 2px 4px 2px rgba(34, 60, 80, 0.37);
	}
}

@keyframes submit__button--adapt {
	0% {
		bottom     : 1%;
		box-shadow : 4px 2px 4px 2px rgba(34, 60, 80, 0.37);
	}
	50% {
		bottom     : 2%;
		box-shadow : 12px 8px 9px 2px rgba(34, 60, 80, 0.37);
	}
	100% {
		bottom     : 1%;
		box-shadow : 4px 2px 4px 2px rgba(34, 60, 80, 0.37);
	}
}

.reload__btn {
	
	padding        : 0 20px;
	height         : 50px;
	border-radius  : 10px;
	background     : white;
	display        : flex;
	flex-direction : row;
	align-items    : center;
	
	img {
		transition     : .5s;
		height        : 25px;
		margin-right : 8px;
		@include media-mobile{
			margin-right : unset;
		}
	}
	
	&:hover {
		transform : scale(1.05);
		//
		img {
			transform-origin: 50% center;
			transform: rotate(180deg);
		}
	}
}

button.selector__btn {
	font-size : 1.2rem;
	border    : none;
	display   : none;
	
	
}

button.selector__btn.active {
	display : block;
	color   : $form-color_Active;
	@include media-mobile{
		display: none;
	}
}

.clipboard__btn {
	transition : .1s;
	z-index    : 1000;
	
	&:hover {
		transform : scale(1.2);
	}
}
