button.submit__button{
	display: none;
	z-index : 1000;
	background: burlywood;
	font-size: 1.1rem;
	border-radius: 10px;
	padding : 10px 20px;
	width : 200px;
	//
	position : fixed;
	bottom : 10%;
	right : 5%;
	//
	animation     : submit__button 1s ease-in-out infinite;
	//
	transition    : .4s;
}
.submit__button.active{
	display: block;
}
@keyframes submit__button {
	0% {
		bottom : 10%;
	}
	50% {
		bottom : 11%;
	}
	100% {
		bottom : 10%;
	}
}

button.selector__btn{
	background: burlywood;
	font-size: 1.1rem;
	border-radius: 10px;
	padding : 10px 20px;
	width : 50%;
	display: none;
	&:hover{
		transform: scale(1.05);
	}
}
button.selector__btn.active{
 display: block;
}

.clipboard__btn{
	transition: .1s;
	&:hover{
		transform: scale(1.2);
	}
}
