// container
$cont_max-width     : 1440px;
$cont_padding-left  : 120px;
$cont_padding-right : 120px;

$content-width      : 1280px - 1px;
$tablet-width       : 768px - 1px;
$mobile-big-width   : 425px - 1px;
$mobile-small-width : 320px - 1px;

// sizes
$header_height      : 5.625rem;
$maxWidth           : 1280;
