// container
$cont_max-width     : 1440px;
$cont_padding-left  : 120px;
$cont_padding-right : 120px;

$content-width      : 1280px - 1px;
$tablet-width       : 768px - 1px;
$mobile-big-width   : 425px - 1px;
$mobile-small-width : 320px - 1px;

// sizes
$header_height      : 5.625rem;
$maxWidth           : 1280;


// colors
$primary-color: #4ABAFF;
$secondary-color: #4B4453;
//
$header-color: #4ABAFF;
$footer-color: #B0A8B9;
$form-color_nonClick: #B0A8B9;
$form-color_nonActive: #F06F87;
$form-color_Active: #00C9A7;
$done-color: #C4FCEF;
