header {
	position         : fixed;
	width            : 100%;
	padding-top      : 10px;
	padding-bottom   : 10px;
	//background-color : rgba(95, 61, 220, 0.8);
	background-color: #5CCCCC;
	overflow         : hidden;
	z-index          : 100;
	//
}

