@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap");
@keyframes popup__description {
  0% {
    padding-top: 0;
  }
  100% {
    padding-top: 20px;
  }
}
@keyframes done {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes img__arrow {
  0% {
    right: 0;
  }
  50% {
    right: 2%;
  }
  100% {
    right: 0;
  }
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

html {
  background-color: white;
  font-family: "Comfortaa", cursive;
  transition: 0.5s;
}

body {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ol, ul {
  list-style: none;
}

button {
  cursor: pointer;
  background-color: var(--btn_color);
}

img, svg {
  max-width: 100%;
  height: auto;
}

.hidden {
  display: none;
}

.container {
  max-width: 920px;
  padding-left: 120px;
  padding-right: 120px;
  margin: 0 auto;
}
@media (max-width: 1279px) {
  .container {
    padding-left: 60px;
    padding-right: 60px;
  }
}
@media (max-width: 767px) {
  .container {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (max-width: 424px) {
  .container {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (max-width: 319px) {
  .container {
    padding-left: 30px;
    padding-right: 30px;
  }
}

h1, h2, h3, h4, p, li, a, .nav__link {
  padding: 0;
  margin: 0;
  color: var(--text-color);
}

@media (max-width: 767px) {
  h2 {
    font-size: calc(32px + 40.8 * ((100vw - 320px) / 1280));
  }
}
@media (min-width: 767px) {
  h2 {
    font-size: calc(32px + 24 * (100vw / 1280));
  }
}

main section {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: start;
  margin-bottom: 50px;
}
@media (max-width: 424px) {
  main section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

h2 {
  margin-bottom: 50px;
}

.tittle {
  margin-top: 100px;
}

h3 {
  margin-top: 25px;
  margin-bottom: 15px;
}

ol, ul {
  display: flex;
  flex-direction: column;
  gap: 12px;
  user-select: none;
}

.test__item--label {
  background: rgb(90, 211, 229);
}

input[type=checkbox] {
  display: none;
  position: relative;
  cursor: pointer;
  box-shadow: 9px 11px 8px 0px rgba(34, 60, 80, 0.2);
}

form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

label {
  width: 250px;
  transition: 0.3s;
}
@media (max-width: 767px) {
  label {
    font-size: calc(12px + 6.8 * ((100vw - 320px) / 1280));
  }
}
@media (min-width: 767px) {
  label {
    font-size: calc(12px + 4 * (100vw / 1280));
  }
}

ol {
  margin-bottom: 100px;
}
ol li form label {
  box-shadow: 9px 11px 8px 0px rgba(34, 60, 80, 0.2);
  background: cornsilk;
  padding: 10px;
  border-radius: 10px;
  width: 260px;
}

ul {
  margin-bottom: 10px;
  border-left: solid;
  border-width: 1px;
}
ul li form {
  margin: 8px;
}
ul li form label {
  background: cornsilk;
  padding: 10px;
  border-radius: 10px;
}

.description {
  transition: 1s;
  position: fixed;
  top: 10%;
  right: 5%;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 6px;
  padding: 10px;
  border: solid;
  max-width: 600px;
  margin-bottom: 150px;
  border-radius: 10px;
  box-shadow: 8px 6px 3px #3c354a;
}
@media (max-width: 1279px) {
  .description {
    position: relative;
    top: unset;
    right: unset;
    max-width: 320px;
  }
}

.paragraph {
  padding: 0;
  margin: 0;
  font-size: 0.9rem;
}

.red {
  color: red;
}

.us-none {
  user-select: none;
}

li {
  position: relative;
}

.test__item--label {
  border: rgba(255, 255, 255, 0.19) solid;
}

header {
  position: fixed;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgba(95, 61, 220, 0.8);
  overflow: hidden;
  z-index: 100;
}

footer {
  z-index: 1000;
  background-color: rebeccapurple;
  position: fixed;
  bottom: 0;
  width: 100%;
}
footer .footer__img {
  width: 50px;
  height: 50px;
}
footer .footer__inner {
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  overflow: hidden;
}
footer .footer__inner #rss-ico {
  overflow: hidden;
  width: 90px;
  height: 90px;
}
footer .footer__inner img {
  filter: invert(1);
}
footer .footer__inner .footer__block {
  display: flex;
  align-items: start;
  gap: 10px;
  overflow: hidden;
}
footer .footer__inner .footer__block p {
  font-size: 2rem;
  font-family: "Kdam Thmor Pro", sans-serif;
  color: white;
}

button.submit__button {
  display: none;
  z-index: 1000;
  background: burlywood;
  font-size: 1.1rem;
  border-radius: 10px;
  padding: 10px 20px;
  width: 200px;
  position: fixed;
  bottom: 10%;
  right: 5%;
  animation: submit__button 1s ease-in-out infinite;
  transition: 0.4s;
}

.submit__button.active {
  display: block;
}

@keyframes submit__button {
  0% {
    bottom: 10%;
  }
  50% {
    bottom: 11%;
  }
  100% {
    bottom: 10%;
  }
}
button.selector__btn {
  background: burlywood;
  font-size: 1.1rem;
  border-radius: 10px;
  padding: 10px 20px;
  width: 50%;
  display: none;
}
button.selector__btn:hover {
  transform: scale(1.05);
}

button.selector__btn.active {
  display: block;
}

.clipboard__btn {
  transition: 0.1s;
}
.clipboard__btn:hover {
  transform: scale(1.2);
}

.done {
  display: none;
  position: absolute;
  top: -15px;
  left: -20px;
  width: 20px;
  padding: 10px;
  background: slateblue;
  border-radius: 100%;
}

.done.active {
  z-index: 50;
  display: block;
  animation: done 0.4s ease-in-out;
}

.checked {
  border: slateblue solid 3px;
  padding-top: 20px;
  transition: 0.3s;
  animation: popup__description 0.2s ease-in-out;
}

.selector__inner {
  display: flex;
  gap: 20px;
  align-items: start;
  flex-direction: column;
  justify-content: center;
}
.selector__inner .img__arrow {
  position: absolute;
  right: 0;
  top: 10px;
  width: 30px;
  animation: img__arrow 1s ease-in-out infinite;
}
.selector__inner .selector__label {
  position: relative;
}
.selector__inner .selector {
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 1.2rem;
  display: block;
  border: slateblue solid 3px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

/*# sourceMappingURL=style.css.map */
