@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap");
@keyframes popup__description {
  0% {
    padding-top: 0;
  }
  100% {
    padding-top: 20px;
  }
}
@keyframes done {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes img__arrow {
  0% {
    right: -5%;
  }
  50% {
    right: -4%;
  }
  100% {
    right: -5;
  }
}
@keyframes click {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes first__opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes score {
  0% {
    opacity: 0;
    left: 0;
    transform: scale(0);
  }
  20% {
    left: 450px;
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
    opacity: 1;
    left: 400px;
  }
}
@keyframes score620 {
  0% {
    opacity: 0;
    left: 0;
    transform: scale(0);
  }
  20% {
    left: 260px;
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
    opacity: 1;
    left: 240px;
  }
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

html {
  background-color: white;
  font-family: "Comfortaa", cursive;
  transition: 0.5s;
}

body {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ol, ul {
  list-style: none;
}

button {
  cursor: pointer;
  background-color: var(--btn_color);
  font-family: "Comfortaa", cursive;
}

img, svg {
  max-width: 100%;
  height: auto;
}

.hidden {
  display: none;
}

.container {
  max-width: 1280px;
  padding-left: 120px;
  padding-right: 120px;
  margin: 0 auto;
}
@media (max-width: 1279px) {
  .container {
    padding-left: 60px;
    padding-right: 60px;
  }
}
@media (max-width: 767px) {
  .container {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (max-width: 424px) {
  .container {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (max-width: 319px) {
  .container {
    padding-left: 30px;
    padding-right: 30px;
  }
}

h1, h2, h3, h4, p, li, a, .nav__link {
  padding: 0;
  margin: 0;
  color: var(--text-color);
}

@media (max-width: 767px) {
  h2 {
    font-size: calc(32px + 40.8 * ((100vw - 320px) / 1280));
  }
}
@media (min-width: 767px) {
  h2 {
    font-size: calc(32px + 24 * (100vw / 1280));
  }
}

#description__p {
  font-size: 0.7rem;
}

main {
  min-height: 100vh;
  padding-top: 120px;
}
main section {
  flex-direction: column;
  gap: 30px;
  align-items: start;
  margin-bottom: 50px;
}
@media (max-width: 424px) {
  main section {
    padding-bottom: 60px;
  }
}

nav {
  background: #5CCCCC;
  width: 100%;
}

h2 {
  margin: 150px 0 50px 0;
}
@media (max-width: 424px) {
  h2 {
    margin-top: 110px;
    margin-bottom: 25px;
  }
}

h3 {
  margin-top: 40px;
  margin-bottom: 15px;
  font-size: 1.5rem;
  width: 420px;
}
@media (max-width: 620px) {
  h3 {
    width: 260px;
    margin-top: 25px;
  }
}

ol, ul {
  display: flex;
  flex-direction: column;
  gap: 12px;
  user-select: none;
}

.test__item--label {
  background: #B0A8B9;
}

.test__item--label.first--click {
  background-color: #F06F87;
  color: black;
}

.test__item--label.checked {
  background-color: #00C9A7;
  color: black;
}

input[type=checkbox] {
  display: none;
  position: relative;
  cursor: pointer;
  box-shadow: 9px 11px 8px 0px rgba(34, 60, 80, 0.2);
}

form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  animation: first__opacity 1s;
}

.score__label {
  opacity: 0;
  position: absolute;
  left: 400px;
  bottom: 10px;
  font-size: 1.2rem;
  transition: 0.5s;
}
@media (max-width: 620px) {
  .score__label {
    left: 240px;
  }
}

.score__label.active {
  opacity: 1;
  animation: score 0.3s ease-in-out;
}
@media (max-width: 620px) {
  .score__label.active {
    animation: score620 0.3s ease-in-out;
  }
}

.test__item--form {
  transition: 0.5s;
}
@media (min-width: 620px) {
  .test__item--form:hover {
    transform: translate(1.5%, 0);
  }
}

label {
  width: 250px;
  transition: 0.4s;
}
@media (max-width: 767px) {
  label {
    font-size: calc(18px + 10.2 * ((100vw - 320px) / 1280));
  }
}
@media (min-width: 767px) {
  label {
    font-size: calc(18px + 6 * (100vw / 1280));
  }
}

ol li form label {
  box-shadow: 9px 11px 8px 0px rgba(34, 60, 80, 0.2);
  padding: 10px;
  border-radius: 10px;
  width: 420px;
}
@media (max-width: 620px) {
  ol li form label {
    width: 260px;
  }
}

ul {
  margin-bottom: 10px;
  border-left: solid;
  border-width: 3px;
}
ul li form {
  margin: 8px;
}
ul li form label {
  padding: 10px;
  border-radius: 10px;
}

.description.active {
  display: flex;
}

.paragraph {
  padding: 0;
  margin: 0;
  font-size: 0.9rem;
}

.red {
  color: red;
}

.us-none {
  user-select: none;
}

@media (max-width: 767px) {
  .clipboard__p {
    display: none;
  }
}

.score {
  overflow: hidden;
  transition: 0.1s;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 50px;
  width: 85px;
  background: white;
  padding: 0 20px;
  border-radius: 10px;
  font-size: 1.2rem;
  gap: 25px;
}

.score__input__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  transition: 0.5s;
}

@media (max-width: 424px) {
  .score__item {
    transform: translateY(24px);
  }
}

.toTop__button {
  transition: 0.5s;
  display: none;
  align-items: center;
  justify-content: center;
  width: 150px;
}
@media (max-width: 424px) {
  .toTop__button {
    display: flex;
  }
}
.toTop__button img {
  width: 25px;
  margin-right: 5px;
}

.score.green {
  background: #00C9A7;
}

.score.red {
  background: #F06F87;
}

.clipboard__btn.active {
  background: #C4FCEF;
  border-radius: 5px;
}

.click {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.2rem;
  background: white;
  height: 50px;
  padding: 0 20px;
  border-radius: 10px;
}
.click img {
  width: 25px;
}
.click:hover {
  transform: scale(1.05);
}

li {
  position: relative;
}

.test__item--label {
  border: rgba(255, 255, 255, 0.19) solid;
}

.test__list--img__arrow {
  display: none;
  position: absolute;
  left: -18px;
  top: -18px;
  width: 40px;
  background: burlywood;
  border: 2px;
  padding: 3px;
  border-radius: 100%;
  animation: click 1s ease-in-out infinite;
  z-index: 20;
}

.test__list--img__arrow.active {
  display: block;
}

.test__list {
  position: relative;
}

.extra__element {
  border: solid 1px rgba(0, 0, 0, 0.11);
}

.extra__nav {
  display: flex;
  gap: 20px;
  width: 100%;
}
@media (max-width: 767px) {
  .extra__nav {
    gap: unset;
    justify-content: space-around;
    position: fixed;
    bottom: 22px;
    left: 0;
    width: 100vw;
  }
}

header {
  font-size: 2rem;
  transition: 0.5s;
  position: fixed;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #4ABAFF;
  overflow: hidden;
  z-index: 100;
}
@media (max-width: 424px) {
  header {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1.1rem;
  }
}

@media (max-width: 424px) {
  header.hide {
    transform: translateY(-100%);
  }
}

footer {
  z-index: 1000;
  background-color: #B0A8B9;
  position: unset;
  bottom: 0;
  width: 100%;
}
@media (max-width: 767px) {
  footer {
    display: none;
  }
}
footer .footer__img {
  width: 50px;
  height: 50px;
}
footer .footer__inner {
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  overflow: hidden;
}
footer .footer__inner #rss-ico {
  overflow: hidden;
  width: 90px;
  height: 90px;
}
footer .footer__inner img {
  filter: invert(1);
}
footer .footer__inner .footer__block {
  display: flex;
  align-items: start;
  gap: 10px;
  overflow: hidden;
}
footer .footer__inner .footer__block p {
  font-size: 2rem;
  font-family: "Kdam Thmor Pro", sans-serif;
  color: white;
}

button.submit__button {
  box-shadow: 12px 8px 10px 2px rgba(34, 60, 80, 0.37);
  display: none;
  z-index: 1000;
  background: #FFD073;
  border: none;
  font-size: 1.1rem;
  border-radius: 10px;
  padding: 15px 10px;
  position: fixed;
  bottom: 50%;
  left: 5%;
  animation: submit__button 1s ease-in-out infinite;
  transition: 0.4s;
}
@media (max-width: 620px) {
  button.submit__button {
    bottom: 10%;
    left: 5%;
    animation: submit__button--adapt 1s ease-in-out infinite;
  }
  button.submit__button:hover {
    transform: scale(1.05);
  }
}

.submit__button.active {
  display: block;
}

@keyframes submit__button {
  0% {
    bottom: 50%;
    box-shadow: 4px 2px 4px 2px rgba(34, 60, 80, 0.37);
  }
  50% {
    bottom: 51%;
    box-shadow: 12px 8px 9px 2px rgba(34, 60, 80, 0.37);
  }
  100% {
    bottom: 50%;
    box-shadow: 4px 2px 4px 2px rgba(34, 60, 80, 0.37);
  }
}
@keyframes submit__button--adapt {
  0% {
    bottom: 1%;
    box-shadow: 4px 2px 4px 2px rgba(34, 60, 80, 0.37);
  }
  50% {
    bottom: 2%;
    box-shadow: 12px 8px 9px 2px rgba(34, 60, 80, 0.37);
  }
  100% {
    bottom: 1%;
    box-shadow: 4px 2px 4px 2px rgba(34, 60, 80, 0.37);
  }
}
.reload__btn {
  padding: 0 20px;
  height: 50px;
  border-radius: 10px;
  background: white;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.reload__btn img {
  transition: 0.5s;
  height: 25px;
  margin-right: 8px;
}
@media (max-width: 424px) {
  .reload__btn img {
    margin-right: unset;
  }
}
.reload__btn:hover {
  transform: scale(1.05);
}
.reload__btn:hover img {
  transform-origin: 50% center;
  transform: rotate(180deg);
}

button.selector__btn {
  font-size: 1.2rem;
  border: none;
  display: none;
}

button.selector__btn.active {
  display: block;
  color: #00C9A7;
}
@media (max-width: 424px) {
  button.selector__btn.active {
    display: none;
  }
}

.clipboard__btn {
  transition: 0.1s;
  z-index: 1000;
}
.clipboard__btn:hover {
  transform: scale(1.2);
}

.done {
  display: none;
  position: absolute;
  top: -21px;
  left: -22px;
  width: 20px;
  padding: 10px;
  background: #4ABAFF;
  border-radius: 100%;
}

.done.active {
  z-index: 50;
  display: block;
  animation: done 0.1s linear;
  border: #4B4453 solid 3px;
}

.checked {
  border: #4B4453 solid 3px;
  padding-top: 20px;
  padding-bottom: 35px;
  transition: 0.3s;
}

.selector__inner {
  display: flex;
  gap: 20px;
  align-items: center;
  flex-direction: row;
}
@media (max-width: 424px) {
  .selector__inner {
    flex-wrap: wrap;
  }
}
.selector__inner .img__arrow {
  position: absolute;
  right: -5%;
  top: 10px;
  width: 30px;
  animation: img__arrow 0.5s ease-in-out infinite;
}
.selector__inner .selector__label {
  position: relative;
  height: 50px;
}
.selector__inner .selector {
  height: 100%;
  padding: 0 20px;
  border-radius: 10px;
  font-size: 1.2rem;
  display: block;
  border: #4B4453 solid 3px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  font-family: "Comfortaa", cursive;
}
.selector__inner .selector option {
  padding-top: 30px;
}

/*# sourceMappingURL=style.css.map */
